<% content_for :body do %>
  <%= raw @page.content_for(:body) %>
  <ul id='gallery'>
    <% @page.images.each do |image| %>
	<%  unless image == @page.images.first %>
      <li>
        <%= link_to image_tag(image.thumbnail("200x200#c").url), image.thumbnail("900x600").url, { :rel => "fancygroup", :class => "fancybox" } %>
      </li>
	  <% end %>
   <% end %>
  </ul>
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript">
	$(document).ready(function() {
		(function ($, F) {
			F.transitions.resizeIn = function() {
				var previous = F.previous,
				current  = F.current,
				startPos = previous.wrap.stop(true).position(),
				endPos   = $.extend({opacity : 1}, current.pos);

				startPos.width  = previous.wrap.width();
				startPos.height = previous.wrap.height();

				previous.wrap.stop(true).trigger('onReset').remove();

				delete endPos.position;

				current.inner.hide();

				current.wrap.css(startPos).animate(endPos, {
					duration : current.nextSpeed,
					easing   : current.nextEasing,
					step     : F.transitions.step,
					complete : function() {
						F._afterZoomIn();
						current.inner.fadeIn("fast");
					}
				});
			};
		}(jQuery, jQuery.fancybox));
		
		$(".fancybox").fancybox({
        	nextMethod : 'resizeIn',
        	nextSpeed  : 250,
        
        	prevMethod : false,
        
        	helpers : {
            	title : {
                	type : 'inside'
            	}
       	 	}
   	 	});
	});
	</script>
<% end %>

<%= render '/refinery/content_page' %>
