<div id="form_booking">
	<div>
		<h2>Reservierung</h2>
		<p>
			Für Anfragen und Reservierungen rufen Sie uns unter
			<strong>+49 511 70039945</strong> an oder senden Sie eine Email an 
			<a href="mailto:info@am-lindenhof.de">info@am-lindenhof.de</a>.
			Selbstverständlich erreichen Sie uns auch per Telefax unter <strong>+49 511 70039944</strong>.
		</p>
	</div>
</div>