<div id="form_booking">
	<div>
		<h2>Reservierung</h2>
		<iframe src="https://www.thebookingbutton.co.uk/properties/lindenhofdirect/booking_widget" height="250" width="210" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
	</div>
</div>